.about {
  padding: 15px 0;
  @media screen and (max-width: 800px) {
    // padding-top: 0;
  }
  h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
  }
  .content {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 800px) {
      flex-direction: column-reverse;
    }

    .text {
      max-width: 500px;
      width: 100%;
      padding: 15px;

      h3 {
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 7px;
      }
      p {
        font-size: 16px;
        margin-bottom: 15px;
      }
      .btn {
        margin-top: 15px;
        @media screen and (max-width: 800px) {
          margin: 15px auto 0;
        }
      }
    }
    .author-img {
      max-width: 300px;
      width: 100%;

      .img-container {
        // max-height: 330px;
        height: 100%;
        width: 100%;
        overflow: hidden;
      }

      img {
        width: 100%;
      }
      .links {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        .fa-facebook {
          color: $facebook;
        }
        .fa-instagram {
          color: $instagram;
        }
        .fa-twitter {
          color: $twitter;
        }
        .link {
          &:hover {
            transform: scale(1.048);
          }
        }
      }
    }
  }
}
