.excerpt {
  margin: 3% 0;
  .beginning {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  h2 {
    text-align: center;
    margin: 5px 0;
    font-size: 18px;
  }
  h3 {
  }
  .content {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: space-around;
      flex-wrap: wrap;
      max-height: 826px;
      p {
        max-width: 450px;
        width: 100%;
        margin: 15px 0 0;
      }
    }
  }
}
