h2,
h4,
h3,
h5,
h6,
p,
li {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Merienda', cursive;
}

* {
  box-sizing: border-box;
}

html,
body {
  background: $color1;
}

a {
  text-decoration: none;
  color: inherit;
}
