.reading-list {
  padding: 4% 0 15%;
  .title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
  }
  .content {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .text {
      max-width: 450px;
      width: 100%;
      line-height: 2;
      p {
        width: 100%;
        padding: 15px;
      }
    }
    .list {
      // width: max-content;

      .items {
        list-style-type: upper-roman;
        // padding: 15px;
        .item {
          padding: 8px;
          a {
            color: $color2;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
