/* Color Theme Swatches in Hex */
.Symbol-of-rivalry-and-struggle-or-merging-of-a-compound.-Ink-in-water-red-and-blue-isolated-on-white-1-hex {
  color: #73020c;
}
.Symbol-of-rivalry-and-struggle-or-merging-of-a-compound.-Ink-in-water-red-and-blue-isolated-on-white-2-hex {
  color: #034aa6;
}
.Symbol-of-rivalry-and-struggle-or-merging-of-a-compound.-Ink-in-water-red-and-blue-isolated-on-white-3-hex {
  color: #034aa6;
}
.Symbol-of-rivalry-and-struggle-or-merging-of-a-compound.-Ink-in-water-red-and-blue-isolated-on-white-4-hex {
  color: #a60505;
}
.Symbol-of-rivalry-and-struggle-or-merging-of-a-compound.-Ink-in-water-red-and-blue-isolated-on-white-5-hex {
  color: #f2f2f2;
}
$color6: #400106;
$color5: #73020c;
$color4: #034aa6;
$color3: #f20707;
$color2: #a60505;
$color1: #f2f2f2;
$facebook: #3b5998;
$twitter: #00acee;
$instagram: #3f729b;
